body{
    background-color:#f75990;
    /* background-image:url; */
    /* image-fit:cover; */


}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.card{
    background-color:#ffa8B6;
    width: 15dvw;
    height: 70dvh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    


}
.main img{
    background-repeat:repeat;
    background-position:center;
    /* background-position: 0dvh; */

}
    

.image img{
    width: 15dvw;
    height: 36dvh;
    /* border-bottom-right-radius: 0cqmax; */
}
.plan{
    /* width:20dvw;
    height:10dvh; */
    display: column;

    /* color:azure; */
    /* font-weight: 200; */
}
.details {
    color:rgb(4, 53, 42);
}
 .but1{
    background-color: #b16572;
    /* background-color: blue; */
    color:#ffa8B6;
    border: 2px;
    padding: 10px 20px;
    font-size: 18px;
    display:flex;
    flex-direction:row;
    gap:10px;
  }
  .but1:hover {
    background-color:#f75990;
    color: black;
    cursor: pointer;
  }

